<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <link rel="stylesheet" th:href="@{style.css}"  type="text/css">
</head>
<body>
    <h1>An overview of our employees</h1>

    <table>
        <p>Emp no, Name, Job, Mgr no., Hiredate, Sal, Comm, Dept no.</p>
        <tr
                th:each="employee : ${employees}">
            <td th:text="${employee.getEmpNo()}"></td>
            <td th:text="${employee.geteName()}"></td>
            <td th:text="${employee.getJob()}"></td>
            <td th:text="${employee.getMgrNo()}"></td>
            <td th:text="${employee.getHiredate()}"></td>
            <td th:text="${employee.getSal()}"></td>
            <td th:text="${employee.getComm()}"></td>
            <td th:text="${employee.getDeptNo()}"></td>
        </tr>
    </table>

</body>
</html>